Initiative_01/Saved/Logs/Initiative_01.log
Initiative_01/Saved/Logs/Initiative_01-backup-2026.01.12-13.42.58.log
Initiative_01/Saved/Logs/Initiative_01.log
/Initiative_01/Saved/Logs
/Initiative_01/Saved/Config/WindowsEditor
/Initiative_01/Saved/Config/CrashReportClient/UECC-Windows-A6C921D141671698B0E2AF8EF8E041CB
Initiative_01/Intermediate/CachedAssetRegistryDiscovery.bin
Initiative_01/Saved/AutoScreenshot.png
/Initiative_01/Saved/Config/WindowsEditor
Initiative_01/Saved/Logs/Initiative_01.log
*.log
*.ini
